
.home-page {
  margin: 17% 0% 20% 0%;
  background-color: bisque;
  min-height: 600px;
    .container {
        padding-top: 3%;
        padding-bottom: 3%;
        .img-container {
            text-align: center;
            img {
                border-radius: 50%;
                max-width: 400px;
                animation: bounceIn 1s 1s forwards;
            }
        }
    }

   
}