
.home-page {
    .container {
        margin-top: 20%;
        .img-container {
            text-align: center;
            img {
                border-radius: 50%;
                max-width: 400px;
                animation: bounceIn 1s 1s forwards;
            }
        }
    }

   
}